In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
paper_results = json.load(open('paper_results.json'))['personalized_random_init_CER']

gpu_x8 = json.load(open('2024070603/compiled_metrics.json'))
gpu_x4 = json.load(open('2024070702/compiled_metrics.json'))
gpu_x2 = json.load(open('2024070604/compiled_metrics.json'))
gpu_x1 = json.load(open('2024070606/compiled_metrics.json'))

compiled_results = {
    "test": {
        "paper": paper_results['test_no_lm'],
        "8x GPU": gpu_x8['test']['ours_greedy'],
        "4x GPU": gpu_x4['test']['ours_greedy'],
        "2x GPU": gpu_x2['test']['ours_greedy'],
        "1x GPU": gpu_x1['test']['ours_greedy']
    },
    "val": {
        "paper": paper_results['val_no_lm'],
        "8x GPU": gpu_x8['val']['ours_greedy'],
        "4x GPU": gpu_x4['val']['ours_greedy'],
        "2x GPU": gpu_x2['val']['ours_greedy'],
        "1x GPU": gpu_x1['val']['ours_greedy']
    }
}

compiled_results = pd.DataFrame(compiled_results).T
compiled_results.head()

      paper     8x GPU     4x GPU     2x GPU     1x GPU
test  15.38  80.774940  36.030277  17.313064  15.358731
val   15.65  80.224867  37.036503  18.785863  15.471891